@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

#title {
  text-align: center;
  margin-top: 1rem;
}

#sub-heading {
  text-align: center;
  margin-top: 2rem;
}

.main-container {
  display: flex;
  justify-content: center;
}
#container {
  text-align: center;
  color: #fff;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img {
  width: 20rem;
  height: 15rem;
}

.each-product {
  padding: 2rem;
  background-color: rgb(141, 144, 143);
  margin: 1rem;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.add-cart {
  margin-top: 1rem;
  width: 7rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border: 1px solid #fff;
}

.add-cart:hover {
  background-color: #000;
  color: #fff;
}

.product-name {
  margin-top: 1rem;
  position: absolute;
  top: 0;
  font-size: 1.2rem;
}

.img {
  margin-top: 1.3rem;
}

#cart {
  position: fixed;
  right: 0.5rem;
  bottom: 5rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #8d908f;
  color: #fff;
}

#cart:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

// *!Modal ///////////////////////
#modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 50vh;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation-name: animatemodal;
  animation-duration: 0.4s;
  position: relative;
}

@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

#close-btn {
  position: absolute;
  right: 20px;
  top: 12px;
  color: #000;
  font-size: 1.5rem;
}

#close-btn:hover {
  cursor: pointer;
  color: #ff0000;
}

.checkout-section {
  margin-top: 2rem;
  display: flex;
}

.modal-total-text {
  margin-bottom: 1rem;
}

.each-modal-product {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.2rem;
}

.item-name {
  width: 4rem;
}

.item-price {
  opacity: 0;
  width: 1rem;
}

.num {
  width: 5rem;
}

#rzp-button1 {
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: -0.3rem;
}

#rzp-button1:hover {
  background-color: black;
  color: #fff;
}
